@font-face {
  font-weight: 100;
  font-family: 'AlibabaPuHuiTi';
  src: url('/fonts/AlibabaPuHuiTi-2-35-Thin.otf') format('opentype');
}

@font-face {
  font-weight: 200;
  font-family: 'AlibabaPuHuiTi';
  src: url('/fonts/AlibabaPuHuiTi-2-45-Light.otf') format('opentype');
}

@font-face {
  font-weight: 300;
  font-family: 'AlibabaPuHuiTi';
  src: url('/fonts/AlibabaPuHuiTi-2-55-Regular.otf') format('opentype');
}

@font-face {
  font-weight: 400;
  font-family: 'AlibabaPuHuiTi';
  src: url('/fonts/AlibabaPuHuiTi-2-65-Medium.otf') format('opentype');
}

@font-face {
  font-weight: 500;
  font-family: 'AlibabaPuHuiTi';
  src: url('/fonts/AlibabaPuHuiTi-2-75-SemiBold.otf') format('opentype');
}

@font-face {
  font-weight: 600;
  font-family: 'AlibabaPuHuiTi';
  src: url('/fonts/AlibabaPuHuiTi-2-85-Bold.otf') format('opentype');
}

@font-face {
  font-weight: 700;
  font-family: 'AlibabaPuHuiTi';
  src: url('/fonts/AlibabaPuHuiTi-2-95-ExtraBold.otf') format('opentype');
}

@font-face {
  font-weight: 800;
  font-family: 'AlibabaPuHuiTi';
  src: url('/fonts/AlibabaPuHuiTi-2-105-Heavy.otf') format('opentype');
}

@font-face {
  font-weight: 900;
  font-family: 'AlibabaPuHuiTi';
  src: url('/fonts/AlibabaPuHuiTi-2-115-Black.otf') format('opentype');
}
